[submodule "client"]
	path = client
	url = https://github.com/VanyaMate/url-shorten-frontend.git
[submodule "server"]
	path = server
	url = https://github.com/VanyaMate/url-shorten-backend.git
[submodule "types"]
    path = types
    url = https://github.com/VanyaMate/url-shorten-types.git